.mainview {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.2rem;
    margin-left: 0.9rem;
}

.titlefonttext {
    margin-left: 1.2rem;
    margin-top: -1.2rem;
    color: black;
}

.titletimetext {
    margin-left: 1.2rem;
    margin-top: -1.6rem;
}

.red {
    color: #ff0000;
}

.title .input{
    margin-top: -1.8rem;
    margin-left: 7.5rem;
    padding-left: 0;
    padding-top: 4;
    padding-bottom: 4;
    height: 0.9rem;
    font-size: 0.9rem;
}

.name {
    height: 2.6rem;
    font-size: 0.85rem;
    border-bottom:1px solid #dddddd;
}

/*.name p{*/
    /*font-size: 0.8rem;*/
    /*margin-left: 1rem;*/
/*}*/

.name .input{
    margin-top: 1rem;
    padding-left: 0;
    padding-top: .4rem;
    padding-bottom: .4rem;
    height: auto;
}

.time {
    font-size: 0.85rem;
    border-bottom:1px solid #dddddd;
    height: 2.6rem;
}

/*.time p{*/
    /*font-size: 0.8rem;*/
    /*margin-left: 1rem;*/
/*}*/

.phone {
    height: 2.6rem;
    font-size: 0.85rem;
    border-bottom:1px solid #dddddd;
}

/*.phone p{*/
    /*font-size: 0.8rem;*/
    /*margin-left: 1rem;*/
/*}*/

.phone .input{
    margin-top: 1rem;
    padding-left: 0;
    padding-top: .4rem;
    padding-bottom: .4rem;
    height: auto;
}

.serviceselect {
    height: 2.6rem;
    font-size: 0.85rem;
    border-bottom:1px solid #dddddd;
 }

/*.serviceselect p{*/
    /*font-size: 0.8rem;*/
    /*margin-left: 1rem;*/
/*}*/

.serviceaddress {
    height: 2.6rem;
    font-size: 0.85rem;
    border-bottom:1px solid #dddddd;
}

.addressinput {
    height: 2.6rem;
    font-size: 0.85rem;
    border-bottom:1px solid #dddddd;
}

.addressinput .input{
    padding-left: 0;
    border-bottom: 1px solid #ddd;
    font-size: 0.8rem;
    height: auto;

}

/*.serviceaddress p{*/
    /*font-size: 0.8rem;*/
    /*margin-left: 1rem;*/
/*}*/

.detailaddress {
    height: 2.6rem;
    font-size: 0.85rem;
    border-bottom:1px solid #dddddd;
 }

/*.detailaddress p {*/
    /*font-size: 0.8rem;*/
    /*margin-left: 1rem;*/
/*}*/

.detailaddress .input{
    margin-top: 1rem;
    padding-left: 0;
    padding-top: .4rem;
    padding-bottom: .4rem;
    height: auto;
}

.detaildescribe {
    height: 2.6rem;
    font-size: 0.85rem;
    border-bottom:1px solid #dddddd;
}

/*.detaildescribe p {*/
    /*font-size: 0.8rem;*/
    /*margin-left: 1rem;*/
/*}*/

.detaildescribe .input{
    margin-top: 1rem;
    padding-left: 0;
    padding-top: .4rem;
    padding-bottom: .4rem;
    height: auto;
}

.my-radio .am-radio {
    padding: 2.5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
}

.bottomview {

}