.mine {
    display: flex;
    flex-direction: column;
}

.mine hr{
    height: 0.01rem;
    width: 100%;
    color: #dddddd;
}

.mine .perch {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0.8rem;
}

.mine .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 14rem;
    background-color: #44caa6;
}

.mine .head .outbtn {
    margin-top: 1rem;
    align-self: flex-end;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1.85rem;
    width: 1.85rem;
    background-color: #44caa6;
}

.mine .head .outbtn Button {
    background: transparent;
    border-color: #44caa6;
    display: flex;
    flex-direction: column;
    width: 1.85rem;
    margin-left: -1.85rem;
    background-color: #44caa6;
}

.mine .head .outbtn img {
    width: 1.86rem;
    height: 1.86rem;
    background-color: #44caa6;
}

.mine .head .usericon{
    margin-top: 1rem;
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    border-radius:50%
}

.mine .head .usericon img {
    margin-top: 0rem;
    width: 5rem;
    height: 5rem;
}

.mine .head p {
    margin-top: 0.65rem;
    font-size: 1.05rem;
    line-height: 2.4rem;
    color: white;
}

.mine .info {
    margin-top: 1.2rem;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    height: 2.2rem;
    border-width: 0.05rem;
}

.mine .info p {
    font-size: 0.8rem;
    color: #777777;
    margin-left: -16rem;
}

.mine .info Button{
    background: transparent;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    height: 2.2rem;
}

.surebtnbg {
    background-color: #fff;
    height: 50px;
    width: 100%;
    border-top: 1px solid #777777;
}






